doctype html
html(lang="en")
  head
    title Ardusat Demo | Page Not Found
  body
    h1 Houston, we have a problem!
    p The page you were looking for can't be found. Check the address and try again?
