
<div class="col-lg-12 introbox animated bounceInRight" ng-hide="activeCharts">
    <div class="jumbotron">
        <h1><img src="images/logo-full.svg" style="width:350px;" class="img-responsve"> - Sensor Dashboard Demo</h1>
        <p>Get started by selecting any of the {{sensors.length}} sensors on the left.
            <br>
        Once you have selected the sensors you want to display, you can resize them to fit
        in the dashboard however you like.</p>
        <p>
        </p>
    </div>
</div>
<div class="wrapper wrapper-content" dashboard="dashboard" template-url="../views/common/charttemplate.html">
</div>
